table tr td{
    border: 2px solid rgb(128, 124, 124);
    color: rgb(71, 70, 70);
    border-radius:50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.anim{
    position: relative;
    transform: scale(2);
    z-index: 1;
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}